<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h1>
      <strong>{{ currentUser.username }}</strong> Profile
    </h1>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>Name:</strong>
    {{ currentUser.username }}
  </p>
  <p>
    <strong>Birth date:</strong>
    {{ currentUser.birthDate }}
  </p>
  <p>
    <strong>Country:</strong>
    {{ currentUser.country }}
  </p>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
